:root {
  --creme: #e1f4f1;
  --preto: #101010;
  --rosa: #C92071;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: var(--creme);
  color: var(--preto);
  scroll-behavior: smooth;
}